
	.mods
	{
		padding: 20px 80px 20px 80px;
		text-align: -webkit-center;
	}
	.mods h1
	{
		margin: 10px;
		padding: 10px;
		justify-content: center;
		align-items: center;
		display: grid;
	}
	.mods .container
	{
		display: grid;
		grid-gap: 40px;
		grid-template-columns: repeat(auto-fit, minmax(18vw, 1fr) );
	}
	.mods .card
	{
		width: 20vw;
		height: 20vw;
		margin-bottom: 6vw;
		border-radius: 1vw;
	}
	.mods .card .content
	{
		height: 20vw;
		width: 20vw;
		
		border-radius: 1vw;
		border: #500000 solid 0.25vw;
		box-shadow: 0 0 10px rgb(0, 0, 0, 1);
	}
	.mods .card .content
	{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.mods .container .card:hover .content
	{
		opacity: 0.8;
		
		background: #262626;
		border: #cc0000 solid 0.25vw;
		box-shadow: 0 0 15px #cc0000;
	}
	.mods .container .card:hover a
	{
		color: aliceblue;
		
		text-shadow: 1px 1px 6px #cc0000;
		transform: scale(1.2);
	}
	.mods .container a
	{
		color: #acacac;
		font-size: 2.6vw;
		
		text-decoration: none;
	}
	.mods .container img
	{
		width: 15vw;
		opacity: 0.3;
		height: 15vw;
	}
	.mods .container .card:hover img
	{
		opacity: 1;
		
		transform: scale(1.1);
	}