

	@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');
	*
	{
		padding: 0;
		margin: 0;
		-webkit-user-select: none;			
		-moz-user-select: none;
		-ms-user-select: none; 
		user-select: none;
		font-family: 'Alegreya Sans', sans-serif;
		transition: all 0.45s;
		transform: scale3d(1, 1, 1);
	}
	html
	{
		background: #161616;
		scroll-behavior: smooth;
	}
	body
	{
		display: block;
	}
	section
	{
		height: min-content;
		padding: 20px;
		background: #202020;
		color: aliceblue;
		text-align: center;
	}
	.buttonA
	{
		text-decoration: none;
		display: inline-block;
		height: fit-content;
		padding: 6px;
		margin-right: 8px;
		border: #500000 solid 2px;
		border-radius: 2px;
		color: #838383;
		font-size: 2.6vw;
	}
	.buttonA:hover
	{
		background: #350000;
		color: white;
		border: #500000 solid 2px;
		border-radius: 2px;
	}
	.footer
	{
		position: relative;
		align-items: center;
		justify-items: center;
	}
	.footer a
	{
		color: aliceblue;
		text-decoration: none;
		font-size: 20px;
		margin-right: 8px;
		border-radius: 6px;
		padding: 3px;
		border: #00000000 solid 2px;
	}
	.footer .links {
		display: inline-flex;
	}
	.footer a:hover
	{
		border-radius: 6px;
		background: #161616;
		padding: 3px;
		border: #ffffff solid 2px;
	}